html
    head
        style.
            body {
                color: #888;
                font-size: 14px;
            }

            dt {
                font-weight: bold;
                color: #176ed0;
            }

            dd {
                margin-left: 15px;
            }

    body
        p <b>用户注册信息</b>
        dl
            dt 用户
            dd #{userName}
            dt 性别
            dd #{sex}
            dt 公司
            dd #{company}
            dt 电话
            dd #{phone}
            dt QQ
            dd #{qq}